.service-item {
  background: #FFFFFF;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 100ms ease-out 0s;
  transition: all 100ms ease-out 0s;
}

@media screen and (max-width: 720px) {
  .service-item {
    padding: 1rem;
  }
}

.service-item:after {
  content: "";
  display: table;
  clear: both;
  clear: both;
}

.service-item:hover {
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
}

.service-item .service-image {
  float: left;
  margin-right: 30px;
}

.service-item .service-image img {
  max-width: 120px;
  height: 3em;
}

.service-item .service-image i {
  color: #03c4eb;
}

@media screen and (max-width: 720px) {
  .service-item .service-image {
    float: none;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 0px;
    text-align: center;
  }
}

.service-item .service-thumbnail {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}

.service-item .service-content {
  overflow: hidden;
}

.service-item .service-content p {
  margin: 0px;
  font-size: 14px;
  color: #777777;
}

@media screen and (max-width: 720px) {
  .service-item .service-content {
    text-align: center;
    overflow: auto;
  }
}

.service-item .service-title {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  color: #333333;
}

.service-item .service-link:before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

.service-content .service-description {
  height: 6rem;
  overflow: hidden;
}

.service-content .service-description > p {
  height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  margin-top: 0;
  color: #333333;
}

h4 {
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 12px;
}
