<div class="card rounded-0 mb-4" *ngIf="model">
  <app-loading-image class="center-card-image" [objectFit]="'contain'" [src]="model.imageUrl"></app-loading-image>
  <div class="card-body">
    <h5 class="card-title">{{ model.name }}</h5>
    <p class="card-text">{{ model.summary }}</p>
    <div *ngIf="isExpanded">
      <hr class="mx-n3" />
      <p class="card-text">{{ model.description }}</p>
    </div>
    <div class="text-center">
      <fa-icon
        class="w-50 cursor-pointer"
        [icon]="isExpanded ? faChevronUp : faChevronDown"
        (click)="isExpanded = !isExpanded"
      ></fa-icon>
      <div *ngIf="isExpanded" class="d-flex justify-content-around mt-2">
        <button class="btn btn-success" (click)="registerClicked.emit(model)">Anmelden</button>
        <button *ngIf="!!model.pdfUrl" class="btn btn-info ml-2" (click)="downloadDetailsPdfClicked.emit(model)">
          Details im PDF
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="row text-center">
      <div class="col px-1 border-right">
        <div class="d-flex flex-column">
          <fa-icon [icon]="faList"></fa-icon>
          <a>{{ model.stufen }}</a>
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex flex-column">
          <fa-icon [icon]="faClock"></fa-icon>
          <a>{{ model.eventStartTime | date: "HH:mm" }} - {{ model.eventEndTime | date: "HH:mm" }}</a>
        </div>
      </div>
      <div class="col border-left">
        <div class="d-flex flex-column">
          <fa-icon [icon]="faCalendar"></fa-icon>
          <a>{{ model.eventDate | date: "dd.MM" }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
