<div class="card rounded-0 mb-4">
  <app-loading-image class="center-card-image" [objectFit]="'contain'"
                     [src]="'//placeimg.com/290/180/any'"></app-loading-image>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <div *ngIf="isExpanded">
      <hr class="mx-n3">
      <p class="card-text">Detailed Description</p>
    </div>
    <div class="text-center">
      <fa-icon [icon]="isExpanded ? faChevronUp : faChevronDown" (click)="isExpanded = !isExpanded"></fa-icon>
    </div>

  </div>
  <div class="card-footer text-muted">
    <div class="row text-center">
      <div class="col px-1 border-right">
        <div class="d-flex flex-column">
          <fa-icon [icon]="faList"></fa-icon>
          <a>WiWö GuSp CaEx RaRo</a>
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex flex-column">
          <fa-icon [icon]="faClock"></fa-icon>
          <a>10:00 - 13:00</a>
        </div>
      </div>
      <div class="col border-left">
        <div class="d-flex flex-column">
          <fa-icon [icon]="faCalendar"></fa-icon>
          <a>16.06.2020</a>
        </div>
      </div>
    </div>
  </div>
</div>
