<app-hero-banner [model]="heroBannerModel"></app-hero-banner>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Altersstufen</h1>
    </div>
  </div>
</div>

<app-stufen-card-collection
  [stufenModels]="stufenCardModels$ | async"
></app-stufen-card-collection>

<div id="nachrichten" class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Aktuelles</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div
      class="offset-xs-0 offset-lg-2 col-lg-6 col-sm-12 order-1 order-sm-0 mt-3 mt-lg-0"
    >
      <app-news-card-collection
        [posts]="posts$ | async"
      ></app-news-card-collection>
    </div>
    <div class="col-lg-3 col-12 order-0 order-sm-1">
      <div class="container-fluid sticky-top" style="top: 1rem; bottom: 1rem;">
        <div class="row">
          <div class="col">
            <app-downloads-card
              [model]="downloadsCardModel"
            ></app-downloads-card>
          </div>
        </div>
        <div
          *ngIf="upcomingEvents$ | async as upcomingEvents"
          class="row mt-3 mb-3"
        >
          <div class="col">
            <app-upcoming-events [model]="upcomingEvents"></app-upcoming-events>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
