<app-hero-banner [model]="heroBannerModel"></app-hero-banner>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Altersstufen</h1>
    </div>
  </div>
</div>

<app-stufen-card-collection
  [stufenModels]="stufenCardModels$ | async"
></app-stufen-card-collection>

<div id="nachrichten" class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Nachrichten</h1>
    </div>
  </div>
</div>

<app-news-card-collection [posts]="posts$ | async"></app-news-card-collection>
