<div
  class="container d-flex h-100 flex-column"
  *ngIf="events$ | async as events"
>
  <div class="row d-flex justify-content-start" style="flex:1 1 auto;">
    <div class="col">
      <full-calendar
        defaultView="dayGridMonth"
        [plugins]="calendarPlugins"
        [events]="events"
        [themeSystem]="'bootstrap'"
        [height]="'parent'"
        [header]="header"
        [buttonText]="buttonText"
        [eventTimeFormat]="eventTimeFormat"
      ></full-calendar>
    </div>
  </div>
</div>
