<div class="container" *ngIf="model">
  <ng-container *ngFor="let event of model">
    <div class="row row-striped">
      <div class="col-3 text-right">
        <h1 class="display-5">
          <span class="badge badge-secondary">{{
            event.dateTime | date: "dd"
          }}</span>
        </h1>
        <h5 class="mb-0">
          {{ event.dateTime | date: "MMM":undefined:"de-AT" }}
        </h5>
      </div>
      <div class="col-9">
        <h5 class="text-uppercase">
          <strong>{{ event.title }}</strong>
        </h5>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <fa-icon [icon]="faClock"></fa-icon>
            {{ event.dateTime | date: "EEEE":undefined:"de-AT" }}
          </li>
          <li class="list-inline-item">
            {{ event.dateTime | date: "HH:mm" }}
          </li>
          <li *ngIf="event.place">
            <fa-icon [icon]="faLocationArrow" class="mr-2"></fa-icon>
            <i class="fa fa-location-arrow" aria-hidden="true"></i
            >{{ event.place }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
