<div class="container">
  <h1 class="bg-dark text-white">Impressum</h1>

  <p>
    <strong
      >Gruppe 66. Am Wienerfeld der
      <a title="Wiener Pfadfinder und Pfadfinderinnen" href="http://wpp.at/">Wiener Pfadfinder und Pfadfinderinnen</a>
      (ZVR 1445781912)</strong
    >
  </p>

  <p>
    <strong><br /></strong>
  </p>

  <p><strong>Vereinssitz:</strong><br />Wienerfeldgasse 11<br />1100 Wien</p>

  <p>&nbsp;</p>

  <p>
    <strong>Obfrau:</strong>Sabine Gutlederer<strong><br />Geschäftsführende Gruppenleiterin: </strong>Sarah Gutlederer
  </p>

  <p>&nbsp;</p>

  <p>
    <strong>Heimanschrift:<br /></strong><a href="http://www.erzdioezese-wien.at/pages/pfarren/9076">PFARRE</a> Christus
    am Wienerberg<br />GEMEINDE Salvator am Wienerfeld<br />Wienerfeldgasse 11<br />1100 Wien / Austria
  </p>

  <p>&nbsp;</p>

  <p>E-Mail: <a href="mailto:mail@66er.net">mail@66er.net</a></p>

  <p>&nbsp;</p>

  <p><strong>Kontoverbindung:</strong><br />Pfadfindergruppe 66 Am Wienerfeld<br />AT55 2011 1828 3607 4500</p>

  <p>&nbsp;</p>

  <p>
    Der Verein Gruppe 66. Am Wienerfeld der Wiener Pfadfinder und Pfadfinderinnen ist ein Zweigverein der
    <strong><a href="http://wpp.at/">Wiener Pfadfinder und Pfadfinderinnen</a></strong>
    (ZVR 323936327).<br />Der Verein „Wiener Pfadfinder und Pfadfinderinnen“ ist die Wiener Landesorganisation der
    „Pfadfinder und Pfadfinderinnen Österreichs“ (ZVR 517004505).
  </p>
</div>
