<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <div>
          <h1>Wir sind <span #morphextElement>Biber, WiWö, GuSp, CaEx, RaRo, die 66er!</span></h1>
        </div>

        <button type="button" role="button" class="btn btn-outline-light rounded-0 mt-5" [routerLink]="['']"
                [fragment]="'nachrichten'" skipLocationChange>Aktuelles
        </button>
      </div>
    </div>
  </div>
</div>
