<div
  *ngIf="model"
  [style.height.rem]="model.imageHeight ? model.imageHeight : 35"
  class="carousel fade-carousel slide"
  data-ride="carousel"
  data-interval="4000"
  id="bs-carousel"
>
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Wrapper for slides -->
  <div
    class="carousel-inner"
    [style.height.rem]="model.imageHeight ? model.imageHeight : 35"
  >
    <div class="item slides active">
      <div class="slide-1">
        <img
          *ngIf="model.imageUrl"
          [src]="model.imageUrl"
          [style.height.rem]="model.imageHeight ? model.imageHeight : 35"
          class="hero-image"
        />
      </div>
      <div class="hero">
        <div>
          <h1>
            {{ model.morphextPrefix
            }}<span #morphextElement [hidden]="!morphextInitialized">{{
              model.morpext
            }}</span>
          </h1>
        </div>

        <button
          *ngIf="model.buttonText"
          type="button"
          role="button"
          class="btn btn-outline-light rounded-0 mt-5"
          [routerLink]="['']"
          [fragment]="'nachrichten'"
          skipLocationChange
        >
          {{ model.buttonText }}
        </button>
      </div>
    </div>
  </div>
</div>
