<app-hero-banner (buttonClicked)="heroButtonClicked()" [model]="heroBannerModel$ | async"></app-hero-banner>
<div class="text-center">
  <app-stufen-slide-swiper *isLoading="stufenCardModels$ | async as stufenCardModels" [stufenModels]="stufenCardModels">
  </app-stufen-slide-swiper>
</div>

<section [attr.id]="'nachrichten'">
  <div *ngIf="posts$ | async" class="section container my-3">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h1>Aktuelles</h1>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-6 offset-lg-2 order-1 order-lg-0 mt-3">
      <app-news-card-collection *isLoading="posts$ | async as posts" [posts]="posts"></app-news-card-collection>
    </div>
    <div class="d-none d-md-block col-sm-12 col-lg-4 col-xl-3 order-0 order-lg-1 mt-3">
      <div class="container-fluid sticky-top" style="top: 6rem; bottom: 1rem;">
        <div class="row">
          <div class="col-12">
            <app-upcoming-event-collection
              *isLoading="upcomingEvents$ | async as upcomingEvents"
              [model]="upcomingEvents"
            ></app-upcoming-event-collection>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
