<ng-sidebar-container class="min-vh-100">
  <ng-sidebar
    [closeOnClickBackdrop]="true"
    [closeOnClickOutside]="true"
    [(opened)]="sidebarOpened"
  >
    <app-sidebar (sidebarCloseClicked)="sidebarOpened = false"></app-sidebar>
  </ng-sidebar>
  <div class="h-100" ng-sidebar-content>
    <div class="d-flex flex-column" style="min-height: 100%!important;">
      <app-navbar (calendarButtonClicked)="toggleSidebar()"></app-navbar>
      <app-alert
        *ngIf="alertModel$ | async as alertModel"
        [model]="alertModel"
        [class.position-absolute.align-top]="
          alertModel.presentationMode === 'overlay'
        "
        class="w-100"
        style="z-index: 500"
      ></app-alert>
      <div class="flex-grow-1">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="flex-grow-0"></app-footer>
    </div>
  </div>
</ng-sidebar-container>
