.alert-danger {
  background: red;
  color: white;
  font-size: 1.3rem;
  border: red;
}

.app-alert-info {
  color: black;
  font-size: 1rem;
  border: lightblue;
}

li > p {
  margin-bottom: 0rem !important;
}
