<div
  *ngIf="!!model && model.isActive"
  class="row m-0 justify-content-center app-alert-info"
  [className]="getBackgroundColorClassForActiveMode()"
>
  <div class="col info-box rounded-0 border-info col-lg-10 col-xl-8 p-4">
    <div class="row">
      <div class="col-12 col-sm-2 d-flex justify-content-center align-items-center mb-2 mb-sm-0 display-3 text-primary">
        <fa-icon [style.color]="getIconColorForActiveMode()" [icon]="getAlertIconForActiveMode()"></fa-icon>
      </div>
      <div class="col-12 col-sm-10 pl-sm-0 mb-2">
        <div class="d-flex">
          <h4 class="flex-grow-1" [innerHTML]="model.headlineText"></h4>
          <fa-icon (click)="closeClicked.emit()" [size]="'lg'" [icon]="faCross" style="cursor: pointer;"></fa-icon>
        </div>
        <markdown [data]="model.bodyText"></markdown>
      </div>
    </div>
    <div class="row" *ngIf="model.expandableSection">
      <div class="col-12 col-sm-10 offset-sm-2 pl-sm-0 mb-2">
        <div>
          <markdown *ngIf="isExpanded" [data]="model.expandableSection.expandableText"></markdown>
          <button type="button" class="btn btn-outline-primary" (click)="toggleExpand()">
            {{ getExpandButtonText() }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
