<div class="container">
  <h1 class="bg-dark text-white">Haftungsausschluss</h1>

  <h3 class="bg-info text-white">a) Inhalte dieses Internetauftrittes:</h3>
  <p>
    Die Inhalte auf dieser Website werden unter Ausschluß jeglicher Gewährleistung zur Verfügung gestellt. Die Autoren
    übernehmen keinerlei Gewähr für die Korrektheit, Aktualität und Vollständigkeit der enthaltenen Informationen oder
    deren Eignung zu bestimmte Verwendungszwecken. Alle Angaben sind freibleibend und unverbindlich. Die Autoren
    behalten sich das Recht vor, diese Website zur Gänze oder in Teilen – und ohne vorhergehende Ankündigung – zu
    verändern, zu ergänzen oder zu löschen.<br />
  </p>

  <h3 class="bg-info text-white">
    b) Links (Querverweise) zu anderen WebSites:
  </h3>
  Bei der Erstellung von Verweisen auf fremde Websites wurden diese soweit wie möglich auf ihre inhaltliche
  Unbedenklichkeit hin überprüft, wobei zum Zeitpunkt der Link-Setzung keine illegalen Informationen erkennbar waren. Da
  die Autoren jedoch keinen Einfluß auf die weitere Gestaltung fremder Internetauftritte hat, distanziert er sich
  ausdrücklich von allen rechtlich bedenklichen Inhalten auf solchen gelinkten/verknüpften Seiten. Sollten die Autoren
  Kenntnis von illegalen Inhalten auf gelinkten Websites erlangen, so werden die entsprechenden Verweise umgehend
  entfernt. Ebenso übernehmen die Autoren keine Haftung für eventuelle, aus der Benutzung von Websites Dritter
  erwachsende direkte oder indirekte Schäden.
</div>
