<div *ngIf="model">
  <div class="d-flex align-items-center">
    <fa-icon
      class="mb-2 mr-1"
      [icon]="faHeading"
      [styles]="{ 'vertical-align': 'center' }"
      [size]="'lg'"
    ></fa-icon>
    <h1>{{ model.title }}</h1>
  </div>
  <div class="d-flex align-items-center">
    <fa-icon class="mb-2 mr-1" [icon]="faClock" [size]="'lg'"></fa-icon>
    <h3>{{ model.scheduledDateTime | date }}</h3>
  </div>
  <div *ngIf="model.location" class="d-flex align-items-center">
    <fa-icon class="mb-2 mr-1" [icon]="faLocationArrow" [size]="'lg'"></fa-icon>
    <h3>{{ model.location }}</h3>
  </div>
</div>
